[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypasser = "*"
flask = "*"
fake-useragent = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
